<style>
    .blogs .let-me-know-whats-on-your-mind {
        margin: 0 13.4px 43px 0;
        display: inline-block;
        overflow-wrap: break-word;
        font-family: 'Playfair Display';
        font-weight: 700;
        font-size: 40px;
        text-transform: capitalize;
        color: #000000;
      }
      .blogs .first-name {
        margin-bottom: 30px;
        display: inline-block;
        align-self: flex-start;
        overflow-wrap: break-word;
        font-family: 'Average Sans';
        font-weight: 400;
        font-size: 15px;
        text-transform: capitalize;
        color: rgba(0, 0, 0, 0.35);
      }
      .blogs .line-1 {
        background: #000000;
        width: 288px;
        height: 1px;
      }
      .blogs .group-5 {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
      }
      .blogs .last-name {
        margin-bottom: 30px;
        display: inline-block;
        align-self: flex-start;
        overflow-wrap: break-word;
        font-family: 'Average Sans';
        font-weight: 400;
        font-size: 15px;
        text-transform: capitalize;
        color: rgba(0, 0, 0, 0.35);
      }
      .blogs .line-11 {
        background: #000000;
        width: 288px;
        height: 1px;
      }
      .blogs .group-4 {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
      }
      .blogs .frame-12 {
        margin-bottom: 74px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 651px;
        box-sizing: border-box;
      }
      .blogs .email {
        margin-bottom: 30px;
        display: inline-block;
        align-self: flex-start;
        overflow-wrap: break-word;
        font-family: 'Average Sans';
        font-weight: 400;
        font-size: 15px;
        text-transform: capitalize;
        color: rgba(0, 0, 0, 0.35);
      }
      .blogs .line-12 {
        background: #000000;
        width: 288px;
        height: 1px;
      }
      .blogs .group-7 {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
      }
      .blogs .leave-amessage {
        margin-bottom: 30px;
        display: inline-block;
        align-self: flex-start;
        overflow-wrap: break-word;
        font-family: 'Average Sans';
        font-weight: 400;
        font-size: 15px;
        text-transform: capitalize;
        color: rgba(0, 0, 0, 0.35);
      }
      .blogs .line-13 {
        background: #000000;
        width: 288px;
        height: 1px;
      }
      .blogs .group-6 {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
      }
      .blogs .frame-11 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 651px;
        box-sizing: border-box;
      }
      .blogs .frame-10 {
        margin-bottom: 42px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 651px;
        box-sizing: border-box;
      }
      .blogs .submit {
        overflow-wrap: break-word;
        font-family: 'Average Sans';
        font-weight: 400;
        font-size: 15px;
        text-transform: capitalize;
        color: #FFFFFF;
      }
      .blogs .frame-5 {
        background: #BB5A3A;
        margin-right: 531px;
        display: flex;
        padding: 8px 1.6px 8px 0;
        width: 120px;
        box-sizing: border-box;
      }
      .blogs .frame-6 {
        background: rgba(252, 222, 217, 0.6);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 48px 0 56px 0;
        width: 1440px;
        box-sizing: border-box;
      }
      .blogs {
        background: #FFFFFF;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 107px;
        width: 1440px;
        box-sizing: border-box;
      }
</style>
<div class="frame-6">
    <div class="let-me-know-whats-on-your-mind">
    Let me know what's on your mind
    </div>
    <div class="frame-10">
      <div class="frame-12">
        <div class="group-5">
          <div class="first-name">
          first name
          </div>
          <div class="line-1">
          </div>
        </div>
        <div class="group-4">
          <div class="last-name">
          last name
          </div>
          <div class="line-11">
          </div>
        </div>
      </div>
      <div class="frame-11">
        <div class="group-7">
          <div class="email">
          email
          </div>
          <div class="line-12">
          </div>
        </div>
        <div class="group-6">
          <div class="leave-amessage">
          Leave a message 
          </div>
          <div class="line-13">
          </div>
        </div>
      </div>
    </div>
    <div class="frame-5">
      <span class="submit">
      submit
      </span>
    </div>
  </div>
</div>